langchain
langchain-core
langchain-community
pypdf 
pymupdf
sentence-transformers
faiss-cpu
chromadb
langchain-groq
python-dotenv
fastapi
langchain_google_genai
unstructured
python-pptx
docx2txt
openpyxl
jq